<ol  class="breadcrumb">
  {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
</ol>
{{ define "breadcrumbnav" }}
  {{ if .p1.Parent }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
  {{ else if not .p1.IsHome }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
  {{ end }}
  {{ if .p1.Parent }}
    <li{{ if eq .p1 .p2 }} class="mb-1 active"{{ end }}>
      {{ if eq .p1 .p2 }}
        <span>{{ .p1.Title }}</span>
      {{ else }}
        <a href="{{ .p1.Permalink }}">{{ .p1.Title }}</a>
        <span class="breadcrumb-divide">/</span>
      {{ end }}
    </li>
  {{ else }}
    <li class="mb-1">
      <a href="{{ .p1.Permalink }}">Beranda</a>
      <span class="breadcrumb-divide">/</span>
    </li>
  {{ end }}
{{ end }}